server:
  port: 8086
  ssl:
    hostname-verification: none

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: CLIENT-SERVICE
          uri: lb://CLIENT-SERVICE
#          Apart from comments service, both emails and credential service are internal services.
#          Added here so that it will be easy to test in local
          predicates:
            - Path=/comments/**,/emails/**,/credential/**,/joiners/**
          filters:
            - name: AuthenticationFilter
              args:
                role: ADMIN

        - id: PROFESSION-SERVICE
          uri: lb://PROFESSION-SERVICE
          predicates:
            - Path=/details/**,/skills/**
#          filters:
#            - name: AuthenticationFilter
#              args:
#                role: ADMIN

        - id: YOUTUBE-SERVICE
          uri: lb://YOUTUBE-SERVICE
          predicates:
            - Path=/youtube/**

        - id: INSTAGRAM-SERVICE
          uri: lb://INSTAGRAM-SERVICE
          predicates:
            - Path=/instagram/**

        - id: IDENTITY-SERVICE
          uri: lb://IDENTITY-SERVICE
          predicates:
            - Path=/identity/**

        - id: ORCHESTRATE-SERVICE
          uri: lb://ORCHESTRATE-SERVICE
          predicates:
            - Path=/email/**,/verify

        - id: ESPORTS-SERVICE
          uri: lb://ESPORTS-SERVICE
          predicates:
            - Path=/events/**,/profile/**,/games/**
#          filters:
#            - name: AuthenticationFilter
#              args:
#                role: ADMIN

        - id: ESPORTS-LAN
          uri: lb://ESPORTS-LAN
          predicates:
            - Path=/organizer/**,/event/**,/participant/**,/audience/**,/admin/**,/payment-gateway/**,/feedback/**,/advertisement/**

        - id: LIVE-UPDATES-WS
          uri: lb:ws://LIVE-UPDATES
          predicates:
            - Path=/live-updates/ws/**

        - id: LIVE-UPDATES
          uri: lb://LIVE-UPDATES
          predicates:
            - Path=/live-updates/**

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "http://localhost:3000"
            allowedMethods:
              - GET
              - POST
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka